.hashtag
{
	width:  5rem;
	height: 2 rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.hashtag-value
{
	color: blueviolet;
}

.delete-button
{
	color:  red;
}