<section class="charts">
    <div class="timeline-charts">
        <ngx-charts-line-chart
        [results]="InitTimeLineData"
        [showGridLines]="true"
        [legend]="true"
        [scheme]="scheme"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        >

        </ngx-charts-line-chart>
        
    </div>

    <div class="daily-charts">
        <ngx-charts-pie-chart
        [results]="InitDailyData"
        [legend]="true"
        [scheme]="scheme"
        >

        </ngx-charts-pie-chart>
    </div>
</section>