<div class="dish-post">
    <div class="dish-photo">
       <img [src]="saveUrl" #photo>
    </div>
    <div class="dish-title">
       {{post.title}}
    </div>
    <div class="dish-content">
        {{post.content}}
    </div>
    <div class="dish-raiting-div">
        <div class="likes">
            {{post.likes}}
        </div>
        <div class="dislikes">
            {{post.dislikes}}
        </div>
        <div class="comment-count">
            <!--{{post.commentCount}}-->
        </div>
    </div>
    <div class="comments-section">
        <!--{{post.comments}}-->
    </div>
</div>
