<div class="dish-post">
    <div class="dish-photo">
       <!-- {{post.image}}-->
    </div>
    <div class="dish-header">
       <!-- {{post.header}}-->
    </div>
    <div class="dish-description">
        <!--{{post.description}}-->
    </div>
    <div class="dish-raiting-div">
        <div class="likes">
            <!--{{post.likes}}-->
        </div>
        <div class="dislikes">
            <!--{{post.dislikes}}-->
        </div>
        <div class="comment-count">
            <!--{{post.commentCount}}-->
        </div>
    </div>
    <div class="comments-section">
        <!--{{post.comments}}-->
    </div>
</div>
