<div class="table-name">
    Breakfast
</div>
<table class="table table-hover table-dark" id="dish-table">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Mesure</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Cake</td>
        <td>slices</td>
        <td>2</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Tee</td>
        <td>cups</td>
        <td>1</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Nutella</td>
        <td>spoons</td>
        <td>100</td>
      </tr>
    </tbody>
  </table>

  <div class="info-message">
    General nutrition: ... ... ... ... 
  </div>

  <div class="stripe">
  </div>

  <div class="table-name">
    Lunch
</div>
<table class="table table-hover table-dark" id="dish-table">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Measure</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Meat</td>
        <td>G/g</td>
        <td>200</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Soup</td>
        <td>Ml/ml</td>
        <td>350</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Apple</td>
        <td>units</td>
        <td>1.5</td>
      </tr>
    </tbody>
  </table>

    <div class="info-message">
    General nutrition: ... ... ... ... 
  </div>

  <div class="stripe">
  </div>

  <div class="table-name">
    Dinner
</div>
<table class="table table-hover table-dark" id="dish-table">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Measure</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>...</td>
        <td>...</td>
        <td>...</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>...</td>
        <td>...</td>
        <td>...</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>...</td>
        <td>...</td>
        <td>...</td>
      </tr>
    </tbody>
  </table>

  <div class="info-message">
    General nutrition: ... ... ... ... 
  </div>

  <div class="stripe">
  </div>
