<div class="body">
    <div class="container">

        <form id="signup">

            <div class="header">

                <h3>Log in</h3>

                <p>Fill in the form to log in</p>

            </div>

            <div class="sep"></div>

            <div class="inputs">

                <input type="email" placeholder="e-mail" autofocus />

                <input type="password" placeholder="Password" />

                <div class="checkboxy">
                    <input name="cecky" id="checky" value="1" type="checkbox" /><label class="terms">I accept the terms
                        of use</label>
                </div>

                <a id="submit" routerLink="/user/diary">LOG IN</a>

            </div>

        </form>

    </div>

</div>
​