.posts
{
    width: 50rem;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#search-field
{
    margin: 1em auto 1em auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#head-part
{
    display: flex;
    flex-direction: column;
    row-gap:  2rem;
    justify-content:  center;
    align-items:  center;
}
