<div id="search-field">
<form class="form-inline my-2 my-lg-0" id="head-part">
    <div class="search-area">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
    </div>
    <div class="new-post">
        <button class="btn btn-primary my-2 my-sm-0" type="submit" (click)="openDialog('Add', {})">Add Post</button>
    </div>
</form>
</div>

<div class="posts">
    <app-forum-post *ngFor="let post of posts" 
        [post] = "post" >
    </app-forum-post>
</div>