table{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 2rem 0;
    background-color:  #bf2162;
}

.mat-column-amount, .mat-column-foodName, .mat-column-MUName, .mat-column-actions
{
    min-width: 20vw;
    text-align: center;
}

.action-buttons
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    column-gap: 1rem;
}

.action-buttons
{
    margin: 0 0.5rem 0 0.5rem;
}

.add-new-elem-button
{
    text-align: center;
    color: white;
    width: 100px;
    height: 40px;
    background-color: rgb(66,66,66);
    margin:0 auto 1em auto;
}

.table-name{
    margin:0 auto 1em auto;
    padding: 1em;
    width: 10vw;
    min-width: max-content;
    display: block;
    text-align: center;
    background-color: rgb(66,66,66);
    border-radius: 30px;
    border: black;
    color: white;
}

.info-message
{
    margin:0 auto 1em auto;
    padding: 1em;
    width: 30vw;
    display: block;
    text-align: center;
    background-color: rgb(229, 215, 215);
    border-radius: 30px;
    border: black;
}