<nav class="nav nav-pills nav-justified" id="navigation">
  <a class="nav-item nav-link " routerLink="/user/forum" id="navigation-link">Forum</a>
  <a class="nav-item nav-link " routerLink="/user/diary" id="navigation-link">Diary</a>
  <a class="nav-item nav-link " routerLink="/user/settings" id="navigation-link">Settings</a>
  <a class="nav-item nav-link " routerLink="/user/dish-info" id="navigation-link">DishInfo</a>
  <a class="nav-item nav-link " routerLink="/login" id="navigation-link">LogOut</a>
</nav>
  
<div class="content">
  <router-outlet></router-outlet>
</div>

