<nav class="nav nav-pills nav-justified" id="navigation">
    <a class="nav-item nav-link " routerLink="/user/forum" id="navigation-link">Forum</a>
    <a class="nav-item nav-link " routerLink="/user/diary" id="navigation-link">Diary</a>
    <a class="nav-item nav-link " routerLink="/user/settings" id="navigation-link">Settings</a>
    <a class="nav-item nav-link " routerLink="/user/dish-info" id="navigation-link">DishInfo</a>
    <div class="dropdown">
      <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Additional actions
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" routerLink="/login">Log out</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
  </nav>
  
<div class="content">
  <router-outlet></router-outlet>
</div>

