<mat-toolbar color="primary" class="mat-elevation-z6" id="navigation">
  <span><mat-icon>eco</mat-icon>Diet.Me</span>
  <div class="spacer"> </div>
    <a mat-button routerLink="/user/forum" id="navbar-link">Forum</a>
    <a mat-button routerLink="/user/diary" id="navbar-link">Diary</a>
    <a mat-button routerLink="/user/settings" id="navbar-link">Settings</a>
    <a mat-button routerLink="/user/dish-info" id="navbar-link">Statistics</a>
    <a mat-button (click)="onLogoutClick()" id="navbar-link">LogOut</a>
</mat-toolbar>
  
<div class="content">
  <router-outlet></router-outlet>
</div>

